
.chat
  .chat__side
    .chat__side__header
      %p.original Kota Ito
      = fa_icon "edit" , class:"chat__side__header--icon"
      = fa_icon "cog",   class:"chat__side__header--icon"
    .chat__side__group
      .chat__side__group__id
        .chat__side__group__id__name
          Groupname
        .chat__side__group__id__messages 
          messages

  .chat__main
    .chat__main__header
      .chat__main__header__name  
        %p.username Username
        %p.member group members
      .chat__main__header__edit
        Edit
    .chat__main__content
      .chat__main__content__message
        .chat__main__content__message__name
          %p.name java
          %p.timestamp Timestamps
        %p.text Got Damn it!!
    .chat__main__post
      .chat__main__post__input
        .chat__main__post__input__box
          %input.input{:placeholder => "type a message"}
          = fa_icon "image" , class:"chat__main__post__input__box--icon"
        %input.submit{:type => "submit", :value => "Send"}

      