
.chat
  .chat__side
    .chat__side__header
      %p Username
      = fa_icon "edit" , class:"chat__side__header--icon"
      = fa_icon "cog",   class:"chat__side__header--icon"
    .chat__side__group
      .chat__side__group__id
        .chat__side__group__id__name
          Groupname
        .chat__side__group__id__messages 
          messages
      .chat__side__group__id
        .chat__side__group__id__name
          Groupname
        .chat__side__group__id__messages 
          messages
  .chat__main
    .chat__main_header
    



      